---
title: husk scheme
---
{% include head.html %}

<BODY >

<DIV CLASS="navigation"><!--Navigation Panel-->
<A NAME="tex2html13"
  HREF="node1.html">
<IMG WIDTH="37" HEIGHT="24" ALIGN="BOTTOM" BORDER="0" ALT="next"
 SRC="icons/next.png"></A> 
<IMG WIDTH="26" HEIGHT="24" ALIGN="BOTTOM" BORDER="0" ALT="up"
 SRC="icons/up_g.png"> 
<IMG WIDTH="63" HEIGHT="24" ALIGN="BOTTOM" BORDER="0" ALT="previous"
 SRC="icons/prev_g.png"> 
<A NAME="tex2html9"
  HREF="node3.html">
<IMG WIDTH="65" HEIGHT="24" ALIGN="BOTTOM" BORDER="0" ALT="contents"
 SRC="icons/contents.png"></A> 
<A NAME="tex2html11"
  HREF="node106.html">
<IMG WIDTH="43" HEIGHT="24" ALIGN="BOTTOM" BORDER="0" ALT="index"
 SRC="icons/index.png"></A> 
<BR>
<B> Next:</B> <A NAME="tex2html14"
  HREF="node1.html">Summary</A>
 &nbsp; <B>  <A NAME="tex2html10"
  HREF="node3.html">Contents</A></B> 
 &nbsp; <B>  <A NAME="tex2html12"
  HREF="node106.html">Index</A></B> 
<BR>
<BR></DIV>
<!--End of Navigation Panel-->

<P>

<P>

<P>

<P>
<DIV ALIGN="CENTER">
<BIG CLASS="HUGE"><B>
<img src="images/husk-scheme.png"
     alt="husk scheme" />
</B></BIG>
</DIV>
<P>
<DIV ALIGN="CENTER">
<I>An implementation of the Scheme programming language for the Haskell Platform</I>
<!--
    <BIG CLASS="LARGE"><B>November 14, 2013</B></BIG>
-->
</DIV>

<P>

<P>
<BR><HR>
<!--Table of Child-Links-->
<A NAME="CHILD_LINKS"></A>
{% include toc.html %}
{% include footer.html %}
</BODY>
</HTML>
