---
title: Strings
nav_next: node77.html
nav_next_lbl: Vectors
nav_up: node62.html
nav_up_lbl: Standard procedures
nav_prev: node75.html
nav_prev_lbl: Characters
nav_contents: node3.html
nav_contents_lbl: Contents
nav_index: node106.html
nav_index_lbl: Index
---
{% include head.html %}

<BODY >

{% include nav.html %}

<H1>
{{ page.title }}
</H1>

Strings are sequences of characters. Strings are written as
sequences of characters enclosed within quotation marks
("). Within a string literal, various escape sequences represent
characters other than themselves. Escape sequences
always start with a backslash (\):

\a : alarm, U+0007
{\b : backspace, U+0008
46 Revised7 Scheme
%\t : character tabulation, U+0009
 \n : linefeed, U+000A
i\r : return, U+000D
n\" : double quote, U+0022
c\\ : backslash, U+005C
l\| : vertical line, U+007C
u\hintraline whitespacei*hline endingi
hintraline whitespacei* : nothing
dech becomes & at the end of a word. See UAX #29 [11]
(part of the Unicode Standard) for details. However, implementations
of string-downcase are not required to provide
this behavior, and may choose to change  to n all
cases.
(substring string start end) procedure
The substring procedure returns a newly allocated string
formed from the characters of string beginning with index
start and ending with index end. This is equivalent to calling
string-copy with the same arguments, but is provided
for backward compatibility and stylistic 
exibility.
(string-append string : : : ) procedure
Returns a newly allocated string whose characters are the
concatenation of the characters in the given strings.
(string->list string) procedure
(string->list string start) procedure
(string->list string start end) procedure
(list->string list) procedure
It is an error if any element of list is not a character.
The string->list procedure returns a newly allocated list
of the characters of string between start and end. list->
string returns a newly allocated string formed from the
elements in the list list . In both procedures, order is preserved.
string->list and list->string are inverses so
far as equal? is concerned.
(string-copy string) procedure
(string-copy string start) procedure
(string-copy string start end) procedure
Returns a newly allocated copy of the part of the given
string between start and end.
(string-copy! to at from) procedure
(string-copy! to at from start) procedure
(string-copy! to at from start end) procedure
It is an error if at is less than zero or greater than the length
of to. It is also an error if (- (string-length to) at) is less
than (- end start).
Copies the characters of string from between start and end
to string to, starting at at. The order in which characters
are copied is unspecied, except that if the source and destination
overlap, copying takes place as if the source is rst
copied into a temporary string and then into the destination.
This can be achieved without allocating storage by
making sure to copy in the correct direction in such circumstances.
48 Revised7 Scheme
(define a "12345")
(define b (string-copy "abcde"))
(string-copy! b 1 a 0 2)
b =) "a12de"
(string-fill! string ll) procedure
(string-fill! string ll start) procedure
(string-fill! string ll start end) procedure
It is an error if ll is not a character.
The string-fill! procedure stores ll in the elements of
string between start and end.

{% include nav.html %}
<ADDRESS>
Justin
2013-11-14
</ADDRESS>
</BODY>
</HTML>
