---
title: Index
nav_next: node107.html
nav_next_lbl: About this document ...
nav_up: index.html
nav_up_lbl: Summary
nav_prev: node105.html
nav_prev_lbl: References
nav_contents: node3.html
nav_contents_lbl: Contents
nav_index: node106.html
nav_index_lbl: Index
---
{% include head.html %}

<BODY >

{% include nav-top.html %}

<H1>
{{ page.title }}
</H1>

<p>

<div class="item"><a href="macro-debugging.html                               ">expand</a></div>
<div class="item"><a href="node28.html#variable                      ">variable</a></div>
<div class="item"><a href="node29.html#quote                         ">quote</a></div>
<div class="item"><a href="node29.html#quote                         ">'</a></div>
<div class="item"><a href="node31.html#lambda                        ">lambda</a></div>
<div class="item"><a href="node32.html#if                            ">if</a></div>
<div class="item"><a href="node33.html#set!                          ">set!</a></div>
<div class="item"><a href="node34.html#include                       ">include</a></div>
<div class="item"><a href="node36.html#cond                          ">cond</a></div>
<div class="item"><a href="node36.html#case                          ">case</a></div>
<div class="item"><a href="node36.html#and                           ">and</a></div>
<div class="item"><a href="node36.html#or                            ">or</a></div>
<div class="item"><a href="node36.html#when                          ">when</a></div>
<div class="item"><a href="node36.html#unless                        ">unless</a></div>
<div class="item"><a href="node36.html#cond-expand                   ">cond-expand</a></div>
<div class="item"><a href="node37.html#let                           ">let</a></div>
<div class="item"><a href="node37.html#let*                          ">let*</a></div>
<div class="item"><a href="node37.html#letrec                        ">letrec</a></div>
<div class="item"><a href="node37.html#letrec*                       ">letrec*</a></div>
<div class="item"><a href="node37.html#let-values                    ">let-values</a></div>
<div class="item"><a href="node37.html#let*-values                   ">let*-values</a></div>
<div class="item"><a href="node38.html#begin                         ">begin</a></div>
<div class="item"><a href="node39.html#do                            ">do</a></div>
<div class="item"><a href="node39.html#named-let                     ">named-let</a></div>
<div class="item"><a href="node40.html#delay                         ">delay</a></div>
<div class="item"><a href="node40.html#delay-force                   ">delay-force</a></div>
<div class="item"><a href="node40.html#force                         ">force</a></div>
<div class="item"><a href="node40.html#promise?                      ">promise?</a></div>
<div class="item"><a href="node40.html#make-promise                  ">make-promise</a></div>
<div class="item"><a href="node41.html#make-parameter                ">make-parameter</a></div>
<div class="item"><a href="node41.html#parameterize                  ">parameterize</a></div>
<div class="item"><a href="node42.html#guard                         ">guard</a></div>
<div class="item"><a href="node43.html#quasiquote                    ">quasiquote</a></div>
<div class="item"><a href="node43.html#quasiquote                    ">`</a></div>
<div class="item"><a href="node43.html#quasiquote                    ">unquote</a></div>
<div class="item"><a href="node43.html#quasiquote                    ">unquote-splicing</a></div>
<div class="item"><a href="node43.html#quasiquote                    ">@</a></div>
<div class="item"><a href="node44.html#case-lambda                   ">case-lambda</a></div>
<div class="item"><a href="node46.html#let-syntax                    ">let-syntax</a></div>
<div class="item"><a href="node46.html#letrec-syntax                 ">letrec-syntax</a></div>
<div class="item"><a href="node47.html#syntax-rules                  ">syntax-rules</a></div>
<div class="item"><a href="node48.html#syntax-error                  ">syntax-error</a></div>
<div class="item"><a href="node55.html#define-values                 ">define-values</a></div>
<div class="item"><a href="node57.html#define-record-type            ">define-record-type</a></div>
<div class="item"><a href="node63.html#eqv?                          ">eqv?</a></div>
<div class="item"><a href="node63.html#eq?                           ">eq?</a></div>
<div class="item"><a href="node63.html#equal?                        ">equal?</a></div>
<div class="item"><a href="node70.html#number?                       ">number?</a></div>
<div class="item"><a href="node70.html#number?                       ">complex?</a></div>
<div class="item"><a href="node70.html#number?                       ">real?</a></div>
<div class="item"><a href="node70.html#number?                       ">rational?</a></div>
<div class="item"><a href="node70.html#number?                       ">integer?</a></div>
<div class="item"><a href="node70.html#exact?                        ">exact?</a></div>
<div class="item"><a href="node70.html#exact?                        ">inexact?</a></div>
<div class="item"><a href="node70.html#exact-integer?                ">exact-integer?</a></div>
<div class="item"><a href="node70.html#finite?                       ">finite?</a></div>
<div class="item"><a href="node70.html#infinite?                     ">infinite?</a></div>
<div class="item"><a href="node70.html#nan?                          ">nan?</a></div>
<div class="item"><a href="node70.html#=                             ">=</a></div>
<div class="item"><a href="node70.html#=                             ">&lt;</a></div>
<div class="item"><a href="node70.html#=                             ">&gt;</a></div>
<div class="item"><a href="node70.html#=                             ">&lt;=</a></div>
<div class="item"><a href="node70.html#=                             ">&gt;=</a></div>
<div class="item"><a href="node70.html#zero?                         ">zero?</a></div>
<div class="item"><a href="node70.html#zero?                         ">positive?</a></div>
<div class="item"><a href="node70.html#zero?                         ">negative?</a></div>
<div class="item"><a href="node70.html#zero?                         ">odd?</a></div>
<div class="item"><a href="node70.html#zero?                         ">even?</a></div>
<div class="item"><a href="node70.html#max                           ">max</a></div>
<div class="item"><a href="node70.html#max                           ">min</a></div>
<div class="item"><a href="node70.html#+                             ">+</a></div>
<div class="item"><a href="node70.html#+                             ">*</a></div>
<div class="item"><a href="node70.html#-                             ">-</a></div>
<div class="item"><a href="node70.html#-                             ">/</a></div>
<div class="item"><a href="node70.html#abs                           ">abs</a></div>
<div class="item"><a href="node70.html#floor/                        ">floor/</a></div>
<div class="item"><a href="node70.html#floor/                        ">floor-quotient</a></div>
<div class="item"><a href="node70.html#floor/                        ">floor-remainder</a></div>
<div class="item"><a href="node70.html#floor/                        ">truncate/</a></div>
<div class="item"><a href="node70.html#floor/                        ">truncate-quotient</a></div>
<div class="item"><a href="node70.html#floor/                        ">truncate-remainder</a></div>
<div class="item"><a href="node70.html#quotient                      ">quotient</a></div>
<div class="item"><a href="node70.html#quotient                      ">remainder</a></div>
<div class="item"><a href="node70.html#quotient                      ">modulo</a></div>
<div class="item"><a href="node70.html#gcd                           ">gcd</a></div>
<div class="item"><a href="node70.html#gcd                           ">lcm</a></div>
<div class="item"><a href="node70.html#numerator                     ">numerator</a></div>
<div class="item"><a href="node70.html#numerator                     ">denominator</a></div>
<div class="item"><a href="node70.html#floor                         ">floor</a></div>
<div class="item"><a href="node70.html#floor                         ">ceiling</a></div>
<div class="item"><a href="node70.html#floor                         ">truncate</a></div>
<div class="item"><a href="node70.html#floor                         ">round</a></div>
<div class="item"><a href="node70.html#rationalize                   ">rationalize</a></div>
<div class="item"><a href="node70.html#exp                           ">exp</a></div>
<div class="item"><a href="node70.html#exp                           ">log</a></div>
<div class="item"><a href="node70.html#exp                           ">sin</a></div>
<div class="item"><a href="node70.html#exp                           ">cos</a></div>
<div class="item"><a href="node70.html#exp                           ">tan</a></div>
<div class="item"><a href="node70.html#exp                           ">asin</a></div>
<div class="item"><a href="node70.html#exp                           ">acos</a></div>
<div class="item"><a href="node70.html#exp                           ">atan</a></div>
<div class="item"><a href="node70.html#square                        ">square</a></div>
<div class="item"><a href="node70.html#sqrt                          ">sqrt</a></div>
<div class="item"><a href="node70.html#exact-integer-sqrt            ">exact-integer-sqrt</a></div>
<div class="item"><a href="node70.html#expt                          ">expt</a></div>
<div class="item"><a href="node70.html#make-rectangular              ">make-rectangular</a></div>
<div class="item"><a href="node70.html#make-rectangular              ">make-polar</a></div>
<div class="item"><a href="node70.html#make-rectangular              ">real-part</a></div>
<div class="item"><a href="node70.html#make-rectangular              ">imag-part</a></div>
<div class="item"><a href="node70.html#make-rectangular              ">magnitude</a></div>
<div class="item"><a href="node70.html#make-rectangular              ">angle</a></div>
<div class="item"><a href="node70.html#inexact                       ">inexact</a></div>
<div class="item"><a href="node70.html#inexact                       ">exact</a></div>
<div class="item"><a href="node71.html#number->string                ">number-&gt;string</a></div>
<div class="item"><a href="node71.html#string->number                ">string-&gt;number</a></div>
<div class="item"><a href="node72.html#not                           ">not</a></div>
<div class="item"><a href="node72.html#boolean?                      ">boolean?</a></div>
<div class="item"><a href="node72.html#boolean=?                     ">boolean=?</a></div>
<div class="item"><a href="node73.html#pair?                         ">pair?</a></div>
<div class="item"><a href="node73.html#cons                          ">cons</a></div>
<div class="item"><a href="node73.html#car                           ">car</a></div>
<div class="item"><a href="node73.html#cdr                           ">cdr</a></div>
<div class="item"><a href="node73.html#set-car!                      ">set-car!</a></div>
<div class="item"><a href="node73.html#set-cdr!                      ">set-cdr!</a></div>
<div class="item"><a href="node73.html#caar                          ">caar</a></div>
<div class="item"><a href="node73.html#caar                          ">cadr</a></div>
<div class="item"><a href="node73.html#caar                          ">cdar</a></div>
<div class="item"><a href="node73.html#caar                          ">cddr</a></div>
<div class="item"><a href="node73.html#caaar                         ">caaar</a></div>
<div class="item"><a href="node73.html#caaar                         ">caadr</a></div>
<div class="item"><a href="node73.html#caaar                         ">cadar</a></div>
<div class="item"><a href="node73.html#caaar                         ">caddr</a></div>
<div class="item"><a href="node73.html#caaar                         ">cdaar</a></div>
<div class="item"><a href="node73.html#caaar                         ">cdadr</a></div>
<div class="item"><a href="node73.html#caaar                         ">cddar</a></div>
<div class="item"><a href="node73.html#caaar                         ">cdddr</a></div>
<div class="item"><a href="node73.html#caaar                         ">caaaar</a></div>
<div class="item"><a href="node73.html#caaar                         ">caaadr</a></div>
<div class="item"><a href="node73.html#caaar                         ">caadar</a></div>
<div class="item"><a href="node73.html#caaar                         ">caaddr</a></div>
<div class="item"><a href="node73.html#caaar                         ">cadaar</a></div>
<div class="item"><a href="node73.html#caaar                         ">cadadr</a></div>
<div class="item"><a href="node73.html#caaar                         ">caddar</a></div>
<div class="item"><a href="node73.html#caaar                         ">cadddr</a></div>
<div class="item"><a href="node73.html#caaar                         ">cdaaar</a></div>
<div class="item"><a href="node73.html#caaar                         ">cdaadr</a></div>
<div class="item"><a href="node73.html#caaar                         ">cdadar</a></div>
<div class="item"><a href="node73.html#caaar                         ">cdaddr</a></div>
<div class="item"><a href="node73.html#caaar                         ">cddaar</a></div>
<div class="item"><a href="node73.html#caaar                         ">cddadr</a></div>
<div class="item"><a href="node73.html#caaar                         ">cdddar</a></div>
<div class="item"><a href="node73.html#caaar                         ">cddddr</a></div>
<div class="item"><a href="node73.html#null?                         ">null?</a></div>
<div class="item"><a href="node73.html#list?                         ">list?</a></div>
<div class="item"><a href="node73.html#make-list                     ">make-list</a></div>
<div class="item"><a href="node73.html#list                          ">list</a></div>
<div class="item"><a href="node73.html#length                        ">length</a></div>
<div class="item"><a href="node73.html#append                        ">append</a></div>
<div class="item"><a href="node73.html#reverse                       ">reverse</a></div>
<div class="item"><a href="node73.html#list-tail                     ">list-tail</a></div>
<div class="item"><a href="node73.html#list-ref                      ">list-ref</a></div>
<div class="item"><a href="node73.html#list-set!                     ">list-set!</a></div>
<div class="item"><a href="node73.html#memq                          ">memq</a></div>
<div class="item"><a href="node73.html#memq                          ">memv</a></div>
<div class="item"><a href="node73.html#memq                          ">member</a></div>
<div class="item"><a href="node73.html#assq                          ">assq</a></div>
<div class="item"><a href="node73.html#assq                          ">assv</a></div>
<div class="item"><a href="node73.html#assq                          ">assoc</a></div>
<div class="item"><a href="node73.html#list-copy                     ">list-copy</a></div>
<div class="item"><a href="node74.html#symbol?                       ">symbol?</a></div>
<div class="item"><a href="node74.html#symbol=?                      ">symbol=?</a></div>
<div class="item"><a href="node74.html#symbol->string                ">symbol-&gt;string</a></div>
<div class="item"><a href="node74.html#string->symbol                ">string-&gt;symbol</a></div>
<div class="item"><a href="node75.html#char?                         ">char?</a></div>
<div class="item"><a href="node75.html#char=?                        ">char=?</a></div>
<div class="item"><a href="node75.html#char=?                        ">char&lt;?</a></div>
<div class="item"><a href="node75.html#char=?                        ">char&gt;?</a></div>
<div class="item"><a href="node75.html#char=?                        ">char&lt;=?</a></div>
<div class="item"><a href="node75.html#char=?                        ">char&gt;=?</a></div>
<div class="item"><a href="node75.html#char-ci?                      ">char-ci=?</a></div>
<div class="item"><a href="node75.html#char-ci?                      ">char-ci&lt;?</a></div>
<div class="item"><a href="node75.html#char-ci?                      ">char-ci&gt;?</a></div>
<div class="item"><a href="node75.html#char-ci?                      ">char-ci&lt;=?</a></div>
<div class="item"><a href="node75.html#char-ci?                      ">char-ci&gt;=?</a></div>
<div class="item"><a href="node75.html#char-alphabetic?              ">char-alphabetic?</a></div>
<div class="item"><a href="node75.html#char-alphabetic?              ">char-numeric?</a></div>
<div class="item"><a href="node75.html#char-alphabetic?              ">char-whitespace?</a></div>
<div class="item"><a href="node75.html#char-alphabetic?              ">char-upper-case?</a></div>
<div class="item"><a href="node75.html#char-alphabetic?              ">char-lower-case?</a></div>
<div class="item"><a href="node75.html#digit-value                   ">digit-value</a></div>
<div class="item"><a href="node75.html#char->integer                 ">char-&gt;integer</a></div>
<div class="item"><a href="node75.html#char->integer                 ">integer-&gt;char</a></div>
<div class="item"><a href="node75.html#char-upcase                   ">char-upcase</a></div>
<div class="item"><a href="node75.html#char-upcase                   ">char-downcase</a></div>
<div class="item"><a href="node75.html#char-upcase                   ">char-foldcase</a></div>
<div class="item"><a href="node76.html#string?                       ">string?</a></div>
<div class="item"><a href="node76.html#make-string                   ">make-string</a></div>
<div class="item"><a href="node76.html#string                        ">string</a></div>
<div class="item"><a href="node76.html#string-length                 ">string-length</a></div>
<div class="item"><a href="node76.html#string-ref                    ">string-ref</a></div>
<div class="item"><a href="node76.html#string-set!                   ">string-set!</a></div>
<div class="item"><a href="node76.html#string=?                      ">string=?</a></div>
<div class="item"><a href="node76.html#string-ci=?                   ">string-ci=?</a></div>
<div class="item"><a href="node76.html#string<?                      ">string&lt;?</a></div>
<div class="item"><a href="node76.html#string<?                      ">string&lt;=?</a></div>
<div class="item"><a href="node76.html#string<?                      ">string&gt;?</a></div>
<div class="item"><a href="node76.html#string<?                      ">string&gt;=?</a></div>
<div class="item"><a href="node76.html#string<?                      ">string-ci&lt;?</a></div>
<div class="item"><a href="node76.html#string<?                      ">string-ci&lt;=?</a></div>
<div class="item"><a href="node76.html#string<?                      ">string-ci&gt;?</a></div>
<div class="item"><a href="node76.html#string<?                      ">string-ci&gt;=?</a></div>
<div class="item"><a href="node76.html#substring                     ">substring</a></div>
<div class="item"><a href="node76.html#string-append                 ">string-append</a></div>
<div class="item"><a href="node76.html#string->list                  ">string-&gt;list</a></div>
<div class="item"><a href="node76.html#string->list                  ">list-&gt;string</a></div>
<div class="item"><a href="node76.html#string-copy                   ">string-copy</a></div>
<div class="item"><a href="node76.html#string-copy!                  ">string-copy!</a></div>
<div class="item"><a href="node76.html#string-fill!                  ">string-fill!</a></div>
<div class="item"><a href="node77.html#vector?                       ">vector?</a></div>
<div class="item"><a href="node77.html#make-vector                   ">make-vector</a></div>
<div class="item"><a href="node77.html#vector                        ">vector</a></div>
<div class="item"><a href="node77.html#vector-length                 ">vector-length</a></div>
<div class="item"><a href="node77.html#vector-ref                    ">vector-ref</a></div>
<div class="item"><a href="node77.html#vector-set!                   ">vector-set!</a></div>
<div class="item"><a href="node77.html#vector->list                  ">vector-&gt;list</a></div>
<div class="item"><a href="node77.html#vector->list                  ">list-&gt;vector</a></div>
<div class="item"><a href="node77.html#vector->string                ">vector-&gt;string</a></div>
<div class="item"><a href="node77.html#vector->string                ">string-&gt;vector</a></div>
<div class="item"><a href="node77.html#vector-copy                   ">vector-copy</a></div>
<div class="item"><a href="node77.html#char?                         ">char?</a></div>
<div class="item"><a href="node77.html#vector-append                 ">vector-append</a></div>
<div class="item"><a href="node77.html#vector-fill!                  ">vector-fill!</a></div>
<div class="item"><a href="node78.html#bytevector?                   ">bytevector?</a></div>
<div class="item"><a href="node78.html#make-bytevector               ">make-bytevector</a></div>
<div class="item"><a href="node78.html#bytevector                    ">bytevector</a></div>
<div class="item"><a href="node78.html#bytevector-length             ">bytevector-length</a></div>
<div class="item"><a href="node78.html#bytevector-u8-ref             ">bytevector-u8-ref</a></div>
<div class="item"><a href="node78.html#bytevector-u8-set!            ">bytevector-u8-set!</a></div>
<div class="item"><a href="node78.html#bytevector-copy               ">bytevector-copy</a></div>
<div class="item"><a href="node78.html#bytevector-copy!              ">bytevector-copy!</a></div>
<div class="item"><a href="node78.html#bytevector-append             ">bytevector-append</a></div>
<div class="item"><a href="node78.html#utf8->string                  ">utf8-&gt;string</a></div>
<div class="item"><a href="node78.html#utf8->string                  ">string-&gt;utf8</a></div>
<div class="item"><a href="node79.html#procedure?                    ">procedure?</a></div>
<div class="item"><a href="node79.html#apply                         ">apply</a></div>
<div class="item"><a href="node79.html#map                           ">map</a></div>
<div class="item"><a href="node79.html#string-map                    ">string-map</a></div>
<div class="item"><a href="node79.html#vector-map                    ">vector-map</a></div>
<div class="item"><a href="node79.html#for-each                      ">for-each</a></div>
<div class="item"><a href="node79.html#string-for-each               ">string-for-each</a></div>
<div class="item"><a href="node79.html#vector-for-each               ">vector-for-each</a></div>
<div class="item"><a href="node79.html#call-with-current-continuation">call-with-current-continuation</a></div>
<div class="item"><a href="node79.html#call-with-current-continuation">call/cc</a></div>
<div class="item"><a href="node79.html#values                        ">values</a></div>
<div class="item"><a href="node79.html#call-with-values              ">call-with-values</a></div>
<div class="item"><a href="node79.html#dynamic-wind                  ">dynamic-wind</a></div>
<div class="item"><a href="node81.html#environment                   ">environment</a></div>
<div class="item"><a href="node81.html#scheme-report-environment     ">scheme-report-environment</a></div>
<div class="item"><a href="node81.html#null-environment              ">null-environment</a></div>
<div class="item"><a href="node81.html#interaction-environment       ">interaction-environment</a></div>
<div class="item"><a href="node81.html#eval                          ">eval</a></div>
<div class="item"><a href="node83.html#call-with-input-file          ">call-with-input-file</a></div>
<div class="item"><a href="node83.html#call-with-input-file          ">call-with-output-file</a></div>
<div class="item"><a href="node83.html#input-port?                   ">input-port?</a></div>
<div class="item"><a href="node83.html#input-port?                   ">output-port?</a></div>
<div class="item"><a href="node83.html#input-port?                   ">textual-port?</a></div>
<div class="item"><a href="node83.html#input-port?                   ">binary-port?</a></div>
<div class="item"><a href="node83.html#input-port?                   ">port?</a></div>
<div class="item"><a href="node83.html#input-port-open?              ">input-port-open?</a></div>
<div class="item"><a href="node83.html#input-port-open?              ">output-port-open?</a></div>
<div class="item"><a href="node83.html#current-input-port            ">current-input-port</a></div>
<div class="item"><a href="node83.html#current-input-port            ">current-output-port</a></div>
<div class="item"><a href="node83.html#current-input-port            ">current-error-port</a></div>
<div class="item"><a href="node83.html#with-input-from-file          ">with-input-from-file</a></div>
<div class="item"><a href="node83.html#with-input-from-file          ">with-output-from-file</a></div>
<div class="item"><a href="node83.html#open-input-file               ">open-input-file</a></div>
<div class="item"><a href="node83.html#open-input-file               ">open-binary-input-file</a></div>
<div class="item"><a href="node83.html#open-output-file              ">open-output-file</a></div>
<div class="item"><a href="node83.html#open-output-file              ">open-binary-output-file</a></div>
<div class="item"><a href="node83.html#close-port                    ">close-port</a></div>
<div class="item"><a href="node83.html#close-port                    ">close-input-port</a></div>
<div class="item"><a href="node83.html#close-port                    ">close-output-port</a></div>
<div class="item"><a href="node83.html#open-input-string             ">open-input-string</a></div>
<div class="item"><a href="node83.html#open-output-string            ">open-output-string</a></div>
<div class="item"><a href="node83.html#get-output-string             ">get-output-string</a></div>
<div class="item"><a href="node83.html#open-input-bytevector         ">open-input-bytevector</a></div>
<div class="item"><a href="node83.html#open-output-bytevector        ">open-output-bytevector</a></div>
<div class="item"><a href="node83.html#get-output-bytevector         ">get-output-bytevector</a></div>
<div class="item"><a href="node84.html#read                          ">read</a></div>
<div class="item"><a href="node84.html#read-char                     ">read-char</a></div>
<div class="item"><a href="node84.html#peek-char                     ">peek-char</a></div>
<div class="item"><a href="node84.html#read-line                     ">read-line</a></div>
<div class="item"><a href="node84.html#eof-object?                   ">eof-object?</a></div>
<div class="item"><a href="node84.html#eof-object                    ">eof-object</a></div>
<div class="item"><a href="node84.html#char-ready?                   ">char-ready?</a></div>
<div class="item"><a href="node84.html#read-string                   ">read-string</a></div>
<div class="item"><a href="node84.html#read-u8                       ">read-u8</a></div>
<div class="item"><a href="node84.html#peek-u8                       ">peek-u8</a></div>
<div class="item"><a href="node84.html#u8-ready?                     ">u8-ready?</a></div>
<div class="item"><a href="node84.html#read-bytevector               ">read-bytevector</a></div>
<div class="item"><a href="node84.html#read-bytevector!              ">read-bytevector!</a></div>
<div class="item"><a href="node85.html#write                         ">write</a></div>
<div class="item"><a href="node85.html#write-shared                  ">write-shared</a></div>
<div class="item"><a href="node85.html#write-simple                  ">write-simple</a></div>
<div class="item"><a href="node85.html#display                       ">display</a></div>
<div class="item"><a href="node85.html#newline                       ">newline</a></div>
<div class="item"><a href="node85.html#write-char                    ">write-char</a></div>
<div class="item"><a href="node85.html#write-string                  ">write-string</a></div>
<div class="item"><a href="node85.html#write-u8                      ">write-u8</a></div>
<div class="item"><a href="node85.html#write-bytevector              ">write-bytevector</a></div>
<div class="item"><a href="node85.html#flush-output-port             ">flush-output-port</a></div>

</p>

{% include nav-bottom.html %}
{% include footer.html %}
</BODY>
</HTML>
