---
title: Output
nav_next: node86.html
nav_next_lbl: System interface
nav_up: node82.html
nav_up_lbl: Input and output
nav_prev: node84.html
nav_prev_lbl: Input
nav_contents: node3.html
nav_contents_lbl: Contents
nav_index: node106.html
nav_index_lbl: Index
---
{% include head.html %}

<BODY >

{% include nav.html %}

<H1>
{{ page.title }}
</H1>
If port is omitted from any output procedure, it defaults
to the value returned by (current-output-port). It is an
error to attempt an output operation on a closed port.
(write obj ) write library procedure
(write obj port) write library procedure
Writes a representation of obj to the given textual output
port. Strings that appear in the written representation
are enclosed in quotation marks, and within those strings
backslash and quotation mark characters are escaped by
backslashes. Symbols that contain non-ASCII characters
are escaped with vertical lines. Character objects are written
using the #\ notation.
If obj contains cycles which would cause an infinite loop
using the normal written representation, then at least the
objects that form part of the cycle must be represented
using datum labels as described in section 2.4. Datum
labels must not be used if there are no cycles.
Implementations may support extended syntax to represent
record types or other types that do not have datum
representations.
6. Standard procedures 59
The write procedure returns an unspecified value.
(write-shared obj ) write library procedure
(write-shared obj port) write library procedure
The write-shared procedure is the same as write, except
that shared structure must be represented using datum
labels for all pairs and vectors that appear more than once
in the output.
(write-simple obj ) write library procedure
(write-simple obj port) write library procedure
The write-simple procedure is the same as write, except
that shared structure is never represented using datum labels.
This can cause write-simple not to terminate if obj
contains circular structure.
(display obj ) write library procedure
(display obj port) write library procedure
Writes a representation of obj to the given textual output
port. Strings that appear in the written representation
are output as if by write-string instead of by write.
Symbols are not escaped. Character objects appear in the
representation as if written by write-char instead of by
write.
The display representation of other objects is unspecified.
However, display must not loop forever on self-referencing
pairs, vectors, or records. Thus if the normal write representation
is used, datum labels are needed to represent
cycles as in write.
Implementations may support extended syntax to represent
record types or other types that do not have datum
representations.
The display procedure returns an unspecified value.
Rationale: The write procedure is intended for producing
machine-readable output and display for producing human-
readable output.
(newline) procedure
(newline port) procedure
Writes an end of line to textual output port. Exactly how
this is done diㄦs from one operating system to another.
Returns an unspecified value.
(write-char char) procedure
(write-char char port) procedure
Writes the character char (not an external representation
of the character) to the given textual output port and returns
an unspecified value.
(write-string string) procedure
(write-string string port) procedure
(write-string string port start) procedure
(write-string string port start end) procedure
Writes the characters of string from start to end in left-toright
order to the textual output port.
(write-u8 byte) procedure
(write-u8 byte port) procedure
Writes the byte to the given binary output port and returns
an unspecified value.
(write-bytevector bytevector) procedure
(write-bytevector bytevector port) procedure
(write-bytevector bytevector port start) procedure
(write-bytevector bytevector port start end)
procedure
Writes the bytes of bytevector from start to end in left-toright
order to the binary output port.
(flush-output-port) procedure
(flush-output-port port) procedure
Flushes any buㄦed output from the buㄦ of output-port
to the underlying file or device and returns an unspecified
value.

{% include nav.html %}
<ADDRESS>
Justin
2013-11-14
</ADDRESS>
</BODY>
</HTML>
